certifi==2018.1.18
chardet==3.0.4
cx-Freeze==5.1.1
dj-database-url==0.4.2
Django==2.0.1
django-angular==2.0.0
django-cors-headers==2.1.0
django-crispy-forms==1.7.0
django-widget-tweaks==1.4.1
djangorestframework==3.7.7
flake8==3.5.0
gunicorn==19.7.1
idna==2.6
mccabe==0.6.1
pew==1.1.2
Pillow==5.0.0
pipenv==9.0.3
psutil==5.3.1
psycopg2==2.7.3.2
pycodestyle==2.3.1
pyfcm==1.4.5
pyflakes==1.6.0
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
urllib3==1.26.5
virtualenv==15.1.0
virtualenv-clone==0.2.6
virtualenvwrapper-win==1.2.5
whitenoise==3.3.1
