<!DOCTYPE html>
<html lang="en">
<head>
  <title>Student Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link href="css/project.css" rel="stylesheet" type="text/css"/>
  
    <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/project.css' %}">
  
</head>
<body>

<div class="jumbotron text-center">
  <h1>Class Attendance</h1>
</div>
  
<div class="mydiv">
  {% for i in data %}
	<div class="col-md-6">
		<ul class="custom-bullet">
			<li><h4>{{i.std_id}}</h4></li>
		</ul> 
	</div>
    <div class="col-md-6">
		<div class="btn-group" id="status" data-toggle="buttons">
			{% if i.status == "1" %}
			<label class="btn btn-default btn-on active">
			<input type="radio" value="1" name="multifeatured_module[module_id][status]" checked="checked">PRESENT</label>
			<label class="btn btn-default btn-off">
			<input type="radio" value="0" name="multifeatured_module[module_id][status]">ABSENT</label>
			{% else %}
			  <label class="btn btn-default btn-on">
			  <input type="radio" value="1" name="multifeatured_module[module_id][status]">PRESENT</label>
			  <label class="btn btn-default btn-off active">
			  <input type="radio" value="0" name="multifeatured_module[module_id][status]" checked="checked">ABSENT</label>
			{% endif %} 
		</div>
	</div>
	<div class="clearfix"></div>
		 {% endfor %}
		 
</div>
</body>
</html>