{% extends 'base.html' %}
{% block body %}

	<h1 style="text-align: center; color:white; margin-top:100px; font-size:60px; font-family:Monotype Corsiva;">Class Attendance</h1>
	
	{% load filters %}
	
	<section class="secone" id="FULL CONTAINER" ng-controller="ctrl_model">
	<div class="container" style="padding-top:30px">
		<section id="dashboard_card">
			<div class="row pad-md">
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-male red'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='red'>Total Students</h2>
								<h5>{{stu_count}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-check green'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='green'>Present</h2>
								<h5>{{att_count_p}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-ban brown'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='brown'>Absent</h2>
 								<h5>{{ att_count_a }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		

    <form style="padding-left:250px" name="DateForm" method="POST" action="">
	{% csrf_token %}
    <div class="col-md-4" style="width:200px">
	<select class="form-control" name="date_id">
	<option value="" SELECTED>Choose Date
	{% for entry in date_item %}
    <option value="{{ entry.date }}">{{ entry.date }}</option>
	{% endfor %}
	</select>
	</div>
	<div class="col-md-4" style="width:200px">
	<select class="form-control" name="class_id">
	<option value="" SELECTED>Choose Class
	{% for entry in class_item %}
    <option value="{{ entry.s_class }}">{{ entry.s_class }}</option>
	{% endfor %}
	</select>
	</div>
	<div class="col-md-4" style="width:200px">
	<select class="form-control" name="sec_id" onChange="DateForm.submit();">
	<option value="" SELECTED>Choose Section
	{% for entry in section_item %}
    <option value="{{ entry.sec }}">{{ entry.sec }}</option>
	{% endfor %}
	</select>
	</div>
</form>

</div>		

			<div class="col-md-3" style="padding-left:150px">
			<h3 style="color:white; font-size:20px"><u>STUDENT NAME</u></h3>
			</div>
			
			<div class="col-md-3" style="padding-left:150px">
			<h3 style="color:white; font-size:20px"><u>IN TIME</u></h3>
			</div>
			
			<div class="col-md-3" style="padding-left:80px">
			<h3 style="color:white; font-size:20px"><u>OUT TIME</u></h3>
			</div>
			<div class="col-md-3" style="padding-left:150px;visibility:hidden;">
			<h3 style="color:white"><u>s</u></h3>
			</div>

			<div>
		<div class="col-md-3" style="padding-left:150px">
				<ul class="custom-bullet">
				{% for i,j in combined %}
					<a ng-click="fetch_details('{{j.st_id}}')">
						<li><h4 style="padding-top:25px">{{j.first_name}} {{j.last_name}}</h4></li>
					</a>
					{% endfor %}
				</ul>
		</div>
		<div class="col-md-3" style="padding-left:150px" >
			
				<p id="datetimein"></p>
		{% for i in stu_att %}
				<p style="color:white; padding-top:25px">{{i.in_time}} {{i.date}}</p>
				{% endfor %}
			
		</div>
		<div class="col-md-3" style="padding-left:100px">
			
				<p id="datetimeout"></p>
				{% for i in stu_att %}
				<p style="color:white; padding-top:25px">{{i.out_time}}</p>
				{% endfor %}
		</div>
		
		<div style="padding-top:45px">
			<form action="" id="v_form" method="POST">
		    {% csrf_token %}
			{% for i in stu_att %}
				{% if i.status == "1" %}
				{% if staff_value == True %}
				<div class="col-md-3" style="padding-top:25px">
					<button style="background-color: #46964d; color: #FFFFFF; outline:none" class="btn btn-default oval" type="submit" id="button{{counter}}" name="data" value="1,{{i.st_id}},{{i.date}}"  onClick="this.blur(); submitForm(value); setColor(id,'P', value);" >PRESENT</button>
					<button style="outline:none" class="btn btn-default oval" type="submit" id="button{{counter}}"  name="data" value="0,{{i.st_id}},{{i.date}}"  onClick="this.blur(); submitForm(value); setColor(id,'A', value);" >ABSENT</button>
					</div>
					
				{% else %}
				<div class="col-md-3" style="padding-top:25px">
					<button style="background-color: #46964d; color: #FFFFFF; outline:none" class="btn btn-default oval" type="button" id="button" name="status" value="1">PRESENT</button>
					<button style="outline:none" class="btn btn-default oval" type="button" id="button"  name="status" value="0">ABSENT</button>
					</div>
					
					{% endif %}
				{% else %}
				
				{% if staff_value == True %}
				<div class="col-md-3" style="padding-top:25px">
					<button style="outline:none" class="btn btn-default oval" type="submit" id="button{{counter}}" name="data" value="1,{{i.st_id}},{{i.date}}"  onClick="submitForm(value); setColor(id,'P', value);" >PRESENT</button>
					<button style="background-color: #ce161d; color: #FFFFFF;outline:none" class="btn btn-default oval" type="submit" id="button{{counter}}"  name="data" value="0,{{i.st_id}},{{i.date}}"  onClick="submitForm(value); setColor(id,'A', value);" >ABSENT</button>
					</div>
					
				{% else %}
				<div class="col-md-3" style="padding-top:25px">
					<button style="outline:none" class="btn btn-default oval" type="button" id="button" name="status" value="1" >PRESENT</button>
					<button style="background-color: #ce161d; color: #FFFFFF;outline:none" class="btn btn-default oval" type="button" id="button"  name="status" value="0">ABSENT</button>
					</div>
					
				{% endif %}
				{% endif %} 
				{% endfor %}
				</form>
				</div>
				</div>
				
				
		
<script>
    function setColor(btn, s, val) 
	{
	console.log(btn);
		if (s == 'P')
		{
		var b=parseInt(btn.slice(6))+1;
		var nextbutton='button'+b;
		//console.log(nextbutton);
		var property = document.getElementById(btn);
		property.style.backgroundColor = "#46964d"
		property.style.color = "#FFFFFF"
		property = document.getElementById(nextbutton);
		property.style.backgroundColor = "#FFFFFF";
		property.style.color = "#000000"
		}
		else if (s == 'A')
		{
		var b=parseInt(btn.slice(6))-1;
		var nextbutton='button'+b;
		//console.log(nextbutton);
		var property = document.getElementById(btn);
		property.style.backgroundColor = "#ce161d"
		property.style.color = "#FFFFFF"
		property = document.getElementById(nextbutton);
		property.style.backgroundColor = "#FFFFFF";
		property.style.color = "#000000"
		}
        
    }
</script>
<ui-view></ui-view>
    </section>
{% endblock %}