<!DOCTYPE html>
<html lang="en" ng-app="NewCollegeProject" xmlns="http://www.w3.org/1999/xhtml">
 <head>
    <meta charset="utf-8" />
    <meta name="abhro" content="Project Angular JS" />
       <title>Attendance Project</title>
    <meta name="description" content="Attendance Project">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->
    <!-- add styles -->
	{% load filters %}
	{% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
	
	
 </head>
<body>
	<h1 style="text-align: center; color:white">Class Attendance</h1>
	<h3 style="text-align: right; color:white"><a href="{% url 'logout_user' %}">Logout</a></h3>
	<form method="POST">
	{% csrf_token %}
	<button class="btn btn-default pull-right" name="pdf" type="submit">PDF</button>
	</form>
<section id="FULL CONTAINER" ng-controller="ctrl_model">
	<div class="container" style="padding-top:80px">
		<section id="dashboard_card">
			<div class="row pad-md">
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-male red'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='red'>Total Students</h2>
								<h5>{{stu_count}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-check green'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='green'>Present</h2>
								<h5>{{att_count}}</h5>
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="card box-md animated zoomIn">
						<div class="card-body row">
							<div class='col-sm-3 card-pad clearfix'>
								<i class='fa fa-ban brown'></i>
							</div>
							<div class='col-sm-9'>
								<h2 class='brown'>Absent</h2>
 								<h5>{{ stu_count|subtract:att_count }}</h5>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		

    <form style="padding-left:250px" name="DateForm" method="POST">
	{% csrf_token %}
    <div class="col-md-4" style="width:200px">
	<select class="form-control" name="date_id">
	<option value="" SELECTED>Choose Date
	{% for entry in date_item %}
    <option value="{{ entry.date }}">{{ entry.date }}</option>
	{% endfor %}
	</select>
	</div>
	<div class="col-md-4" style="width:200px">
	<select class="form-control" name="class_id">
	<option value="" SELECTED>Choose Class
	{% for entry in class_item %}
    <option value="{{ entry.s_class }}">{{ entry.s_class }}</option>
	{% endfor %}
	</select>
	</div>
	<div class="col-md-4" style="width:200px">
	<select class="form-control" name="sec_id" onChange="DateForm.submit();">
	<option value="" SELECTED>Choose Section
	{% for entry in section_item %}
    <option value="{{ entry.sec }}">{{ entry.sec }}</option>
	{% endfor %}
	</select>
	</div>
</form>

</div>		
				
		<div class="col-md-3" style="padding-left:150px">
			<div>
				<h3 style="color:white">STUDENT NAME</h3>
				<ul class="custom-bullet">
				{% for j in stu_det %}
					<a ng-click="fetch_details('{{j.st_id}}')">
						<li><h4>{{j.first_name}} {{j.last_name}}</h4></li>
					</a>
					{% endfor %}
				</ul>
			</div>
		</div>
		<div class="col-md-3" style="padding-left:150px" >
			<div>
				<h3 style="color:white">IN TIME</h3>
				<p id="datetimein"></p>
		{% for i in stu_att %}
				<p style="color:white">{{i.in_time}} {{i.date}}</p>
				{% endfor %}
			</div>
			
		</div>
		<div class="col-md-3" style="padding-left:100px">
			<div>
				<h3 style="color:white">OUT TIME</h3>
				<p id="datetimeout"></p>
				{% for i in stu_att %}
				<p style="color:white">{{i.out_time}}</p>
				{% endfor %}
			</div>	
		</div>
		
			<form action="" id="v_form" method="POST">
		    {% csrf_token %}
			{% for i in stu_att %}
				{% if i.status == "1" %}
				{% if staff_value == True %}
				<div class="col-md-3" style="padding-top:27px">
					<button style="background-color: #46964d; color: #FFFFFF" class="btn btn-default oval" type="submit" id="button{{counter}}" name="data" value="1,{{i.st_id}},{{i.date}}"  onClick="this.blur(); submitForm(value); setColor(id,'P');" >PRESENT</button>
					<button class="btn btn-default oval" type="submit" id="button{{counter}}"  name="data" value="0,{{i.st_id}},{{i.date}}"  onClick="this.blur(); submitForm(value); setColor(id,'A');" >ABSENT</button>
					</div>
					
				{% else %}
				<div class="col-md-3" style="padding-top:27px">
					<button style="background-color: #46964d; color: #FFFFFF" class="btn btn-default oval" type="button" id="button" name="status" value="1">PRESENT</button>
					<button class="btn btn-default oval" type="button" id="button"  name="status" value="0" >ABSENT</button>
					</div>
					
					{% endif %}
				{% else %}
				
				{% if staff_value == True %}
				<div class="col-md-3" style="padding-top:27px">
					<button class="btn btn-default oval" type="submit" id="button{{counter}}" name="status" value="1,{{i.st_id}},{{i.date}}"  onClick="submitForm(value); setColor(id,'P');" >PRESENT</button>
					<button style="background-color: #ce161d; color: #FFFFFF" class="btn btn-default oval" type="submit" id="button{{counter}}"  name="status" value="0,{{i.st_id}},{{i.date}}"  onClick="submitForm(value); setColor(id,'A);" >ABSENT</button>
					</div>
					
				{% else %}
				<div class="col-md-3" style="padding-top:27px">
					<button class="btn btn-default oval" type="button" id="button" name="status" value="1" >PRESENT</button>
					<button style="background-color: #ce161d; color: #FFFFFF" class="btn btn-default oval" type="button" id="button"  name="status" value="0" >ABSENT</button>
					</div>
					
				{% endif %}
				{% endif %} 
				{% endfor %}
				</form>
				
<!-- <script>
$(function () {
    $.ajaxSetup({
        headers: { "X-CSRFToken": getCookie("csrftoken") }
    });
});
function getCookie(c_name)
{
    if (document.cookie.length > 0)
    {
        c_start = document.cookie.indexOf(c_name + "=");
        if (c_start != -1)
        {
            c_start = c_start + c_name.length + 1;
            c_end = document.cookie.indexOf(";", c_start);
            if (c_end == -1) c_end = document.cookie.length;
            return unescape(document.cookie.substring(c_start,c_end));
        }
    }
    return "";
}	
</script>

<script>
function submitForm(val){
    var frm = $('#v_form');
	frm.submit(function (ev) {
			ev.preventDefault();
			$.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&data=" + val,		
            success: function (data) {
			$('#v_form').unbind('submit').submit;
            }
        });
});
}
</script> -->
<!-- <script>
function submitForm1(val){
    var frm = $('#c_form');
	frm.submit(function (ev) {
			ev.preventDefault();
		$.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize() + "&status=" + val,		
            success: function (data) {
			$('#c_form').unbind('submit').submit;
            }
        });
});
}
</script> -->
				
				
		
<script>
    function setColor(btn, s) 
	{
	console.log(btn);
		if (s == 'P')
		{
		var b=parseInt(btn.slice(6))+1;
		var nextbutton='button'+b;
		console.log(nextbutton);
		var property = document.getElementById(btn);
		property.style.backgroundColor = "#46964d"
		property.style.color = "#FFFFFF"
		property = document.getElementById(nextbutton);
		property.style.backgroundColor = "#FFFFFF";
		property.style.color = "#000000"
		}
		else if (s == 'A')
		{
		var b=parseInt(btn.slice(6))-1;
		var nextbutton='button'+b;
		console.log(nextbutton);
		var property = document.getElementById(btn);
		property.style.backgroundColor = "#ce161d"
		property.style.color = "#FFFFFF"
		property = document.getElementById(nextbutton);
		property.style.backgroundColor = "#FFFFFF";
		property.style.color = "#000000"
		}
        /*var property = document.getElementById(btn);
        if (val == 0) 
		{
            if (s == 'P')
			{
			property.style.backgroundColor = "#ce161d"
			property.style.color = "#FFFFFF"
			property = document.getElementById('button1');
			property.style.backgroundColor = "#FFFFFF"
			}
			else if (s == 'F' )
			{
			property.style.backgroundColor = "#ce161d"
			property.style.color = "#FFFFFF"
			property = document.getElementById('button3');
			property.style.backgroundColor = "#FFFFFF"
			}
        }
        else if(val == 1)
		{
            if (s == 'P')
			{
			property.style.backgroundColor = "#46964d"
			property.style.color = "#FFFFFF"
			property = document.getElementById('button2');
			property.style.backgroundColor = "#FFFFFF"
			}
			else if (s == 'F' )
			{
			property.style.backgroundColor = "#46964d"
			property.style.color = "#FFFFFF"
			property = document.getElementById('button4');
			property.style.backgroundColor = "#FFFFFF"
			}
        }*/
    }
</script>


		

 <ui-view></ui-view>
<footer class="text-center" style="color:white; padding-top:100px">
<hr>
Copyright &copy;
</footer>
  
<!--   <script src="js/bootstrap.min.js"></script> -->
  <script src="{% static 'js/angular.min.js' %}"></script>
    <script src="{% static 'js/angular-ui-router.min.js' %}"></script>
    <script src="{% static 'app/app.js' %}"></script>
	<script src="{% static 'app/ctrl_model.js' %}"></script>
	<script src="{% static 'js/change.js' %}"></script>
	<script src="{% static 'js/post.js' %}"></script>
   
</body>
</html>