{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="NewCollegeProject" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="abhro" content="Project Angular JS" />
    <title>Attendance Project</title>
    <meta name="description" content="Attendance Project">

    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    
    <!-- add styles -->
    <link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css" />
	<link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- add javascripts -->
	 
</head>

<section "id=LOGINBOX">
<div class="login-screen"></div>
   <div class="container">
    <div class="login-center" style="z-index:9999; position: absolute;">
	<div class="row" style="padding-right: 900px">
        	<!--<div class="row">-->
                <div class="col-sm-4 col-sm-offset-8" style="padding-top: 150px; padding-left:100px;">
                    <div class="login" id="card">
                    	<div class="front signin_form">						
                        <p>Login Your Account</p>
                          <form class="login-form "method="POST" action="/login/">
						  {% csrf_token %}
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Enter Student ID" name="std_id">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                      </span>
                                  </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="password" class="form-control" placeholder="Enter Password" name="password">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                  </div>
                              </div>
							  {{state}}
							  {% for message in messages %} {{ message }} {% endfor %}
                              <div class="checkbox">
                              <label><input type="checkbox">Remember me next time.</label>
                              </div>
                              
                              <div class="form-group sign-btn">
                                  <input type="submit" class="btn" value="Log in">
                                  <p><a href="#" class="forgot">Can't access your account?</a></p>
                                  <p><strong>New to TimeInfo?</strong><br><a href="#" id="flip-btn" class="signup signup_link">Sign up for a new account</a></p>
                              </div>
                          </form>
                        </div>
                        <div class="back signup_form" style="opacity: 0;"> 
                          <p>Sign Up for Your New Account</p>
                          <form class="login-form" method="POST" action="/login">
						  {% csrf_token %}
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="text" class="form-control" placeholder="Student ID">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-user"></i>
                                      </span>
                                  </div>
                              </div>
                              <div class="form-group">
                                <div class="input-group">
                                  <input type="text" class="form-control">
                                  <span class="input-group-btn"><button type="button" class="btn btn-cyan"><span class="fa fa-refresh"></span></button></span>
                                </div>
                              </div>
                              <div class="form-group">
                                  <div class="input-group">
                                      <input type="password" class="form-control" placeholder="Confirm Password">
                                      <span class="input-group-addon">
                                          <i class="glyphicon glyphicon-lock"></i>
                                      </span>
                                  </div>
                              </div> 
                              <div class="form-group sign-btn">
                                  <input type="submit" class="btn" value="Sign up">
                                  <br><br>
                                  <p>You have already Account So <a href="#" id="unflip-btn" class="signup">Log in</a></p>
                              </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
       <div id="particles-js"> </div>
</section>
      <script src="{% static 'js/customjavascript.js' %}"></script>
	  <script src="{% static 'js/jquery.flip.js' %}"></script>
     <script src="{% static 'js/flip.js' %}"></script>
</body> 
</html>