

		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title text-center">STUDENT DETAILS</h4>
					</div>
					<div class="modal-body" style="padding-left: 200px">
						<p>Student Name: {[{s[0].first_name}]} {[{s[0].last_name}]}</p>
						<p>Student ID: {[{s[0].st_id}]}</p>
						<p>Gurdian's Name: {[{s[0].g_name}]}</p>
						<p>Date Of Birth:{[{s[0].dob}]}</p>
						<p>Address: {[{s[0].address}]}</p>
						<p>Phone Number: {[{s[0].phone}]}</p>
						<p>Class:{[{s[0].s_class}]}</p>
						<p>Section:{[{s[0].sec}]}</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
	</div>
